body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: floralwhite;
    flex-direction: column;
    font-family: monospace;
    gap: 10px;
}

h1 {
    color:rgb(146, 104, 104);

}

button {
    width: 300px;
    height: 70px;
    border: none;
    background-color: antiquewhite;
    border-radius: 50px;
    font-size: 2rem;
    font-family: monospace;
}

button:active {
    transform: translateY(2px);
}

img {
    width: 30%;
}